
@import url(https://fonts.google.com/specimen/Outfit);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    background-color: #e8d7f1; 
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card{
    background-color: white;
    padding: 18px;
    border-radius: 17px;
}
.card img {
    width: 100%;
    border-radius: 12px;
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color: #5f4b8b; 
}

.text p {
    color: #bba7d4; 
}

.card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
    transform: scale(1.10); 
    border: 2px solid #e5b36b; 
}